fastapi
uvicorn
pydantic
python-jose
passlib[bcrypt]
cloudinary
python-dotenv
starlette
requests
# The following are part of the Python standard library and do not need to be installed:
# json, os, random, datetime, smtplib, email